* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* start header style  */
.container {
  width: 1170px;
  padding-left: 10vw;
  padding-right: 10vw;
  margin: auto;
}

.container .caption {
  margin: 3vw 0;
  display: flex;
}
.container .caption img {
  width: 3vw;
  margin-right: 3vw;
  cursor: pointer;
}
.container .caption h1 {
  font-weight: lighter;
  font-size: 2vw;
}
/* End header style */
/* start main page style */
.container .border-container {
  border: 4px solid #f5821f;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  align-items: center;
  width: 65vw;
  height: 35vw;
  position: relative;
}

.container .border-container .content {
  width: 12vw;
  height: 20vw;
  position: relative;
  cursor: pointer;
}

.container .border-container .content img {
  width: 100%;
  height: 100%;
}

.container .border-container .content img:first-child {
  margin-left: 2vw;
}

.container .border-container .content span {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  line-height: 35px;
  border: 0.2vw solid #000;
  box-shadow: 0.3vw 0.3vw rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 10vw;
  text-align: center;
  font-size: 2vw;
  position: relative;
}

.container .border-container .content span::after{
  content: "";
  position: absolute;
  top:-5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  /* color: #0fa0c5; */
  color: transparent;
}
.container .border-container .content span[data-ans="2"]::after{
  content: "2";
}

.container .border-container .content span[data-ans="3"]::after{
  content: "3";
}
.container .border-container .content span[data-ans="5"]::after{
  content: "5";
}
.container .border-container .content span[data-ans="4"]::after{
  content: "4";
}
.container .border-container .content span[data-ans="1"]::after{
  content: "1";
}


.ul-style {

  visibility: hidden;
}

.li-style {
  list-style: none;
  transform: translate(-2px, -500%);
  -webkit-transform: translate(-2px, -500%);
  -moz-transform: translate(-2px, -500%);
  -ms-transform: translate(-2px, -500%);
  -o-transform: translate(-2px, -500%);
  border: 0.1vw solid #000;
  width: 3vw;
  height: 3vw;
  line-height: 3vw;
  font-size: 1.5vw;
  text-align: center;
  color: #000;
}
.selected
{
  /* visibility: hidden; */
}
.container .border-container::before,
.container .border-container::after {
  content: "";
  position: absolute;
  width: 1.3vw;
  height: 35vw;
  background-color: #0fa0c5;
}
.container .border-container::before {
  left: -1.4vw;
}

.container .border-container::after {
  right: -1.4vw;
}

/* End main page style*/
/* Start Footer style */
footer {
  background-color: #deecf6;
  width: 67vw;
  padding: 1vw 0;
  position: relative;
  right: 1vw;
  display: flex;
  align-items: center;
}
footer #replay-icon {
  width: 4vw;
  height: 4vw;
  margin: 0 1.8vw;
  cursor: pointer;
}

/* Start custome green-audio-player */
.green-audio-player {
  background-color: #f5821f;
  border-radius: 3vw;
  -webkit-border-radius: 3vw;
  -moz-border-radius: 3vw;
  -ms-border-radius: 3vw;
  -o-border-radius: 3vw;
  width: 18vw;
  height: 3.5vw;
  position: relative;
}
.controls__current-time {
  color: #fff;
  font-size: 10px;
  position: absolute;
}
.controls__current-time {
  left: 4vw;
}
.controls__total-time {
  display: none;
}
.controls__slider.slider {
  background-color: #fff;
  width: 8vw;
  position: absolute;
  left: 7vw;
}
.green-audio-player .slider .gap-progress .pin {
  width: 1vw;
  height: 1vw;
  background-color: #fff;
}

path.play-pause-btn__icon,
path.volume__speaker {
  fill: #fff;
}

path.volume__speaker,
.green-audio-player .volume .volume__controls {
  display: none;
}

svg {
  width: 12px;
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}
/* End custome green-audio-player */

footer #showAns-icon {
  width: 5.5vw;
  height: 4vw;
  margin-left: 7vw;
  cursor: pointer;
}
/* End Footer style */

/* Start media query */
/* extrta Small Screen */
@media (max-width: 575px) {
  .container .caption h1 {
    font-size: 10px;
  }
  .container .caption img {
    width: 10px;
  }
  .container .border-container::before {
    height: 30vw;
    left: -1.9vw;
  }

  .container .border-container::after {
    height: 30vw;
    right: -1.9vw;
  }
  .green-audio-player {
    width: 110px;
  }
  .green-audio-player .slider .gap-progress .pin {
    width: 8px;
    height: 8px;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
  }
  svg {
    width: 5px;
    transform: translateX(-18px);
    -webkit-transform: translateX(-18px);
    -moz-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    -o-transform: translateX(-18px);
  }
  .container .border-container .content span::after{
    top:-80%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Small Screen Rules  */
  .green-audio-player {
    width: 160px;
  }
  .green-audio-player .slider .gap-progress .pin {
    width: 8px;
    height: 8px;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
  }
  svg {
    width: 8px;
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
  }
  .container .border-container .content span::after{
    top:-50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium Screen Rules  */
  .green-audio-player {
    width: 200px;
  }
  .green-audio-player .slider .gap-progress .pin {
    width: 8px;
    height: 8px;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
  }
  svg {
    width: 10px;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }

  .container .border-container .content span::after{
    top:-30%;
  }
}

/* End  media query */



/* start of loading page */
@keyframes loader {
  0%, 10%, 100% {
    width: 40px;
    height: 40px;
  }
  65% {
    width: 75px;
    height: 75px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: #0fa0c5;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: #0fa0c5;
  }
  100% {
    transform: rotate(-90deg);
  }
}
.loader-cover
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 background-color: white;
 z-index: 9999999;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;

 
}
.loader span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #0fa0c5;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

/*end of loading page*/